<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/index.css">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="navbar">
      <div id="logo-div">
        <img src=""></img>
      </div> 
      <div id="buttons-div">
        <div id="about-page-btn">About</div>
        <div id="test-page-btn">Tests</div>
        <div id="references-page-btn">References</div>
      </div>
    </div>
    
    <div id="about-page">
      <h1>Parkinson's Risk Evaluator</h1>
      <hr style="border: 2px solid black; width: 5rem"><br>
      <div>Quick tests for risk of Parkinson's Disease, right at home.</div>
    </div>
      <div>
        <h3>What is Parkinson's Disease?</h3>
        Parkinson's disease is a brain disorder that typically begins gradually and gets worse over time. 
        It's caused by the loss of brain cells that produce dopamine and nerve endings that produce norepinephrine. 
        This typically leads to a combination of the following symptoms:
        <ul>
          <li>Tremoring hands, arms, legs, jaws, and/or head</li>
          <li>Muscle stiffness</li>
          <li>Difficulty staying balanced which may result in more frequent falling</li>
          <li>Trouble remaining coordinated</li>
          <li>Irregular blood pressure</li>
          <li>Digestion issues (i.e. trouble urinating, constipation)</li>
          <li>Mental & behavioral changes; altered sleep patterns; newfound depression; memory retention issues; and increased fatigue</li>
        </ul>
      </div>
      
      <div>
        <h3>Who can get Parkinson's Disease?</h3>
        Parkinson's disease is not limited to a particular group, but there are some notable observed patterns:
        <ul>
          <li>Males are more likely to be diagnosed with Parkinson's disease than females</li>
          <li>Most people develop Parkinson's after the age of 60, with only ~5-10% of diagnosed individuals being under 50</li>
          <li>There's evidence of a genetic component to Parkinson's disease; many scientists believe Parkinson's is caused by a combination of genetic and environmental factors such as toxins and head injuries</li>
        </ul>
      </div>
     
      <div>
        <h3>Is there a cure for Parkinson's Disease?</h3>
	    As of the time of this project (May 2023), there is no recognized cure for Parkinson's disease. Symptoms are commonly managed by drugs, many of which increase the production of dopamine; an example is Levodopa which is typically accompanied by Carbidopa which minimizes the side effects of Levodopa. This combination of medicine is used to prolong the lifespan of affected individuals and improve their quality of life.
      </div>
      
      <div>
        <h3>Why getting an early diagnosis is helpful:</h3>
      If you receive an early Parkinson's disease diagnosis, you can alter your lifestyle to minimize the effects of the disease for as long as possible; possible lifestyle changes include the following:
      <ul>
        <li>Alterations to diet</li>
        <li>Physical and speech therapy</li>
        <li>Adoption of an exercise routine</li>
        <li>Massage therapy</li>
        <li>Medical professionals of patients that adopt these lifestyle changes can defer the start of medication. Medication eventually loses effectiveness, so by deferring its use through a healthy lifestyle, the affected individual can extend the length of their manageable quality of life.</li>
      </ul>
      </div>

      <h3>Sources</h3>
      <a href="https://www.nia.nih.gov/health/parkinsons-disease">National Institute of Health</a> <br>
      <a href="https://www.medicalnewstoday.com/articles/320527">Medical News Today (Medically Reviewed Article)</a>
    </div>
  </body>
</html>
